<div class=" flex-1">
    <div class="flex justify-center mx-8 mt-8">
        <mat-card appearance="outlined" class="w-[96%] flex">
            <div class="flex justify-between">
                <mat-card-title class="px-5 pt-4">Fixed Expenses List</mat-card-title>

                <mat-form-field appearance="outline" class="w-[350px] px-5 pt-5">
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate placeholder="Start date" [(ngModel)]="dateRange.start"
                            (ngModelChange)="onDateRangeChange()">>
                        <input matEndDate placeholder="End date" [(ngModel)]="dateRange.end" (ngModelChange)="onDateRangeChange()">>
                    </mat-date-range-input>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </div>

            <div class="flex-1">
                <app-data-table #dt [columns]="columns" [isLoading]="isLoading" (editData)="editFixedExpense($event)"
                    (deleteData)="deleteFixedExpense($event)">
                </app-data-table>

                @if(!data.length) {
                <div class="flex justify-center my-5">
                    {{isLoading ? "Fetching data..." : "No data to display"}}
                </div>
                }
            </div>
        </mat-card>
    </div>
</div>
