<mat-toolbar color="primary" class="flex justify-between items-center px-2">
    <div>
        <a href="">Home</a>
    </div>
    <div>
        @if (authService.isLoggedIn()) {
            <div>
                <button mat-button [matMenuTriggerFor]="me">
                    {{authService.loggedInUser()?.username}}
                    <mat-icon>arrow_drop_down</mat-icon>

                </button>

                <mat-menu #me="matMenu">
                    <a mat-menu-item routerLink="./expenses">Expenses</a>
                    <a mat-menu-item routerLink="">Savings</a>
                    <a mat-menu-item routerLink="">Commissions</a>
                    <!-- <a mat-menu-item routerLink="">Income</a> -->
                    <!-- <a mat-menu-item routerLink="">Budget</a> -->
                    <button mat-button class="w-full" (click)="logout()">
                        Logout
                    </button>
                </mat-menu>
            </div>
        }
        @else {
            <div class="flex gap-4">
                <button (click)="login()">Login</button>
                <button (click)="signup()">Signup</button>
            </div>
        }
    </div>
</mat-toolbar>
