<mat-toolbar color="primary" class="flex justify-between items-center px-2">
    <div>
        <a href="">Home</a>
    </div>
    <div>
        @if (auth.user$ | async) {
        <div>
            <button mat-button [matMenuTriggerFor]="me">
                {{ (auth.user$ | async)?.name }}
                <mat-icon>arrow_drop_down</mat-icon>
            </button>

            <mat-menu #me="matMenu">
                @if (isExpenseTracker || isSuperuser) {
                <a mat-menu-item routerLink="./expenses">Expenses</a>
                } @if (isSaver || isSuperuser) {
                <a mat-menu-item routerLink="./savings">Savings</a>
                } @if (isCommissioner || isSuperuser) {
                <a mat-menu-item routerLink="./commissions">Commissions</a>
                }
                <button mat-button class="w-full" (click)="auth.logout()">
                    Logout
                </button>
            </mat-menu>
        </div>
        }

        @if ((auth.isAuthenticated$ | async) === false) {
            <div class="flex gap-4">
                <app-auth-button></app-auth-button>
            </div>
        }
    </div>
</mat-toolbar>
