<div class="flex-1">
    <div class="flex justify-center mx-8 mt-8">
        <mat-card appearance="outlined" class="w-[96%] flex">
            <div class="flex justify-between">
                <mat-card-title class="px-5 pt-4">Expenses List</mat-card-title>

                <div class="px-4">
                    <app-date-range-picker
                        (onRangeInput)="onRangeInput($event)"
                    ></app-date-range-picker>

                    <button
                        mat-raised-button
                        color="primary"
                        (click)="search()"
                    >
                        Search
                    </button>
                </div>
            </div>

            <div class="flex-1">
                <app-data-table
                    #dt
                    [columns]="columns"
                    [isLoading]="isLoading"
                    (editData)="editExpense($event)"
                    [hasTotal]="true"
                    (deleteData)="deleteExpense($event)"
                >
                </app-data-table>

                @if(!data.length) {
                <div class="flex justify-center my-5">
                    {{ isLoading ? 'Fetching data...' : 'No data to display' }}
                </div>
                }
            </div>
        </mat-card>
    </div>
</div>
